<div class="faq-container">
    <h2 class="faq-title">Preguntas Frecuentes</h2>

    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{ faq1.question }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ faq1.answer }}</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{ faq2.question }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ faq2.answer }}</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>{{ faq3.question }}</mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{ faq3.answer }}</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>