<mat-toolbar class="creative-header">
<div class="particles">
    @for (particle of particles; track particle) {
      <div
        class="particle"
        [style.left]="particle.x + '%'"
        [style.top]="particle.y + '%'"
        [style.width]="particle.size + 'px'"
        [style.height]="particle.size + 'px'"
        [style.animation-delay]="particle.delay + 's'"
      ></div>
    }
  </div>

  <div class="header-container">
    <div class="brand-logo">
      <mat-icon class="logo-icon">sports_motorsports</mat-icon>
      <span class="brand-name">APEX</span>
      <span class="brand-subtitle">AUTOMOTIVE</span>
    </div>
    <div class="slogan-container">
      <span class="slogan">Más que autos, experiencias al límite</span>
    </div>
  </div>
</mat-toolbar>
