<section class="hero-section">
  <div class="video-background">
    <iframe
      width="100%"
      height="100%"
      [src]="video | domseguro"
      title="Video background"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="hero-content">
    <h1>No hay límites cuando tienes el vehículo adecuado.</h1>
    <p>Vehículos de alto rendimiento para los más exigentes</p>
    <button
      mat-raised-button
      color="accent"
      routerLink="/vehicles"
      routerLinkActive="active-link"
    >
      Explorar modelos
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</section>
