<mat-toolbar class="nav-toolbar">
  <div class="nav-container">
    <a mat-button routerLink="/" routerLinkActive="active-link">Inicio</a>
    <a mat-button routerLink="/vehicles" routerLinkActive="active-link">Vehículos</a>
    <a mat-button routerLink="/services" routerLinkActive="active-link">Servicios</a>
    <a mat-button routerLink="/contact" routerLinkActive="active-link">Contacto</a>
  </div>

  <section class="admin-section">
    @if (authService.isLoggedIn()) {
    <button mat-button class="admin-toggle" [matMenuTriggerFor]="adminMenu">
      <i class="ri-arrow-drop-down-line ri-1x text-white"></i>
      <span class="user-name">Hola, {{ authService.user }}</span>
    </button>
    <mat-menu #adminMenu="matMenu" class="admin-menu">
      <button mat-menu-item  class="admin-menu-item">
        <mat-icon>bar_chart</mat-icon>
        <span>Gráficas</span>
      </button>
      <button mat-menu-item class="admin-menu-item">
        <mat-icon>request_quote</mat-icon> 
        <span>Cotizaciones</span>
      </button>
      <button mat-menu-item  class="admin-menu-item">
        <mat-icon>contact_mail</mat-icon>
        <span>Solicitudes</span>
      </button>
    </mat-menu>
    <button mat-icon-button (click)="logout()" aria-label="Logout">
      <mat-icon>logout</mat-icon>
    </button>
    } @else {
    <button mat-icon-button routerLink="/login" aria-label="Login">
      <mat-icon>account_circle</mat-icon>
    </button>
    }
  </section>
</mat-toolbar>